body {
    font-family: 'Bitter', serif;
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible {
    background-image: url(images/bdflood.jpg);
    background-size: cover;
    background-position: 30%
}

.display {
    text-align: center;
    padding: 80px;

}

.display h1 {
    font-size: 60px;
    color: azure
}

.display p {
    color: #fff;
    text-align: center;
    font-weight: bold;

}

.display a {
    color: #fff;
    text-decoration: none;
    background-color: coral;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10%;

}

.donate-today {
    text-align: center;
    padding-top: 50px;


}

.donate-today p {
    color: #707070;
}

.flex-container {
    display: flex;
    text-align: center;
    margin-left: 600px;
    padding-bottom: 50px;



}

.flex-container div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(26, 24, 24);
    font-weight: bold;


}

#taka {
    background-color: darksalmon;
    color: dimgrey;
    border: 2px solid saddlebrown;
}

.donate-today input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 30%;
    margin-bottom: 50px;
    text-align: center;
}

.donate-today a {
    color: #fff;
    text-decoration: none;
    background-color: coral;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;

}

.donate-plan {
    text-align: center;
    padding: 80px;
}

.donate-plan p {
    color: #707070;

}

.plan-box {
    display: flex;
    width: 75%;
    margin-left: 13%;




}

.box-one {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    margin-right: 9%;


}

.box-two {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    margin-right: 9%;
    margin-right: 15;

}

.box-three {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background: #FFF4D6;
    border-radius: 5px;


}

.help-them {
    display: flex;

}

.part {
    width: 50%;
    padding: 8% 13%;
    text-align: justify;



}

#part1 {
    margin-left: -15%;

}

.part img {
    border-radius: 5px;
}

.part p {
    margin-bottom: 20px;
}


.part a {
    text-decoration: none;
    border-radius: 5px;
    background-color: #FF5959;
    color: #fff;
    padding: 10px;
    font: bold;


}

.category {
    display: flex;
    margin: 5%;
    margin-left: 13%;
    padding: 10px;

}

.category p {
    text-align: justify;
    width: 65%;

}

.category a {
    text-decoration: none;
    background-color: #FFCD05;
    color: #0B0D17;
    padding: 10px;
    border-radius: 10px;
    font-family: "Oswald", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2em;

}


.Get-my-update {
    text-align: center;
    padding: 20px;
}

.subscribe-box {
    background: lightpink;
    padding: 20px;
    width: 35%;
    margin-left: 32%;
    margin-bottom: 10%;




}

.subscribe-box input {
    padding: 7px 10px;
    border: none;
}

.subscribe-box span {
    color: #fff;
    background: #FF5959;
    padding: 3px 5px;
    border: none;

}




footer {
    text-align: center;
    background-color: #0B0D17;
    padding: 10px;
    color: aliceblue;


}

footer h2 {
    color: #FF5959;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 5px;
}